/*
Name: 
Date: 
*/
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
:root{
    --main-bg-colour: #19c0b870;
    --sec-bg-colour: #18b492;
    --main-colour: #d9f4d4;
    --sec-colour: #75e6b1;
}

.container{ /*DO NOT REMOVE OR EDIT*/
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "side1 section1 section1"
    "section2 videoSection side2"
    "footer footer footer";
}

.container > div{ /*DO NOT REMOVE*/
    padding: 10px;
}

.header{ /*DO NOT REMOVE*/
    grid-area: header;
    background-color: var(--main-bg-colour);
    color: var(--main-colour);
    text-align: center;
}

.main{ /*DO NOT REMOVE*/
    grid-area: main;
    background-color: var(--sec-bg-colour);
    color: var(--main-colour);
}

.side1{ /*DO NOT REMOVE*/
    grid-area: side1;
    background-color: var(--main-colour);
    text-align: center;
}

.side2{ /*DO NOT REMOVE*/
    grid-area: side2;
    background-color: var(--main-colour);
    text-align: center;
}

.section1{ /*DO NOT REMOVE*/
    grid-area: section1;
    font-family: 'Jomhuria', cursive;
}

.section2{ /*DO NOT REMOVE*/
    grid-area: section2;
    font-family: 'jomhuria' , cursive;
}

.videoSection{ /*DO NOT REMOVE*/
    grid-area: videoSection;
    text-align: center;
}

.footer{ /*DO NOT REMOVE*/
    grid-area: footer;
    background-color: var(--main-bg-colour);
    color: var(--main-colour);
}
